header,
main {
  width: 600px;
  margin: 0 auto;
}

#board {
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 100px;
  border: 1px solid #222;
  font-size: 3rem;
  text-align: center;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

button {
  padding: .5rem 1rem;
  color: white;
  background:#333;
  border: none;
}

label {
  padding-right: 0.5rem;
}

.hidden {
  display: none;
}

#message {
  text-align: center;
}

#input {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

#start {
  margin-top: 1rem;
}